[default]
aws_access_key_id = <production_aws_access_key_id>
aws_secret_access_key = <production_aws_secret_access_key>

[sandbox]
aws_access_key_id = <sandbox_aws_access_key_id>
aws_secret_access_key = <sandbox_aws_secret_access_key>